<div class="container text-white fw-bold p-4">
    <div class="row">
        <div class="col-12 col-md-6">
            
         <h1>Siente el lugar</h1>
         <p>El hotel se encuentra a menos de 15 minutos en taxi del Museo de arte moderno de Medellín. El arte desempeña una función destacada en el hotel; su moderno lobby es un espacio con la luz perfecta para exposiciones de arte y escultura.
        Si tiene alma de artista, le encantarán los cuadros y esculturas de estilo abstracto y figurativo que descubrirá durante su estancia.</p>
        </div>
        <div class="col-12 col-md-5">
            <img src="../../assets/img/servicio2.jpg" class="img-fluid w-100">
        </div>
        <hr>
        <div class="col-12 col-md-6">
        <h1>Restauración</h1>
        <p>Nuestro destacado desayuno buffet, que preparamos cada mañana con productos frescos, se sirve en la terraza junto a la piscina e incluye una amplia variedad de jugosa fruta tropical, fiambres y pastelería, así como especialidades de la zona.
        El menú del restaurante incluye platos internacionales con toques locales y en nuestro bar Pegasus servimos una amplia selección de bebidas. Disfrute de música en directo dos veces a la semana gracias a nuestro piano de cola.</p>
        </div>
        <div class="col-12 col-md-5">
            <img src="../../assets/img/servicio1.jpg" class="img-fluid w-100">
        </div>
        <hr>
        <div class="col-12 col-md-6">
        <h1>Habitaciones</h1>
        <p>Nuestras habitaciones y suites son amplias y minimalistas, con camas King, colchones comodísimos y selección de almohadas. Todas cuentan con un escritorio grande y las amplias ventanas permiten que entre la luz natural.
        Al final de un día largo, relájate con una selección de canales internacionales en la gran pantalla plana de TV y aprovecha nuestro Wifi gratuito.</p>
        </div>
        <div class="col-12 col-md-5">
            <img src="../../assets/img/servicio3.jpg" class="img-fluid w-100">
        </div>
        <hr>
        <div class="col-12 col-md-6">
        <h1>Reuniones y eventos</h1>
        <p>El hotel cuenta con 4 salas de conferencias y una sala de juntas completamente equipadas para eventos. También hay un centro de negocios abierto 24 horas al día con ordenadores, impresoras y escáneres.
        Para ayudar a que tu reunión o conferencia transcurra a la perfección, el hotel pone a tu disposición servicios de asistencia y de conserjería.</p>
        </div>
        <div class="col-12 col-md-5">
            <img src="../../assets/img/servicio4.jpg" class="img-fluid w-100">
        </div>
    </div>
</div>
